body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


h1, h2, #result{
    font-family: cursive;
}

header img {
    height: 75px;
}
